<h1 class="title-page"><%= getPageTitleForWelcome("Homepage") %></h1>
<div class="about-page">
  <p>It will hold description about Observer</p>
</div>
<div class="navigate-resources">
  <p>Navigation links:</p>
  <ul>
    <li><%= link_to "Signup FriendlyResource", new_demo_friendly_resource_path %></li>
    <li><%= link_to "Show FriendlyResources", demo_friendly_resources_path %></li>
  </ul>
</div>