<h1 class="title-page">
  <%= getPageTitleForCyberReport("FriendlyResource \"#{getFriendlyResourceName(@friendlyResource)}\"") %>
</h1>
<div class="about-page">
  <p>You can navigate to any relevant CyberReport from here.</p>
</div>
<div class="navigate-resources">
  <p>Navigation links to CyberReports:</p>
  <ul>
    <% @cyberReports.each do |cyberReport| %>
      <li>
        <%= link_to getCyberReportName(cyberReport),
          "#{demo_cyber_report_path(cyberReport)}?type=#{cyberReport.class.to_s}" %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @cyberReports %>
  <p>Navigation links to CyberReports with positive results:</p>
  <ul>
    <li>Link to CyberReportWithAttack1</li>
    <li>Link to CyberReportWithAttack2</li>
  </ul>
  <span><button>Previous Page</button><button>Next Page</button></span>
  <p><%= link_to "Back to \"#{getFriendlyResourceName(@friendlyResource)}\"", demo_friendly_resource_path(@friendlyResource) %></p>
</div>