<h1 class="title-page">
  This is CyberReports main page for FriendlyResource <%= getFriendlyResourceName(@friendlyResource)%>
</h1>
<div class="about-page">
  <p>It will hold links to latest cyber reports for the FriendlyResource.</p>
</div>
<div class="navigate-resources">
  <p>Navigation links to all CyberReports:</p>
  <ul>
    <li>Link to CyberReport1</li>
    <li>Link to CyberReport2</li>
  </ul>
  <button>Previous Page</button><span><button>Next Page</button></span>
  <p>Navigation links to latest CyberReports with spotted attack:</p>
  <ul>
    <li>Link to CyberReportWithAttack1</li>
    <li>Link to CyberReportWithAttack2</li>
  </ul>
  <button>Previous Page</button><span><button>Next Page</button></span>
</div>