<h1 class="title-page">
  A form for FriendlyResource <%= getFriendlyResourceName(@friendlyResource)%> edit
</h1>
<div class="about-page">
  <p>The form holds necessary fields for editing an existing FriendlyResource</p>
</div>
<div class="edit-form-container">
  <%= form_tag do %>
    Form contents
  <% end %>
</div>