<h1 class="title-page">This is FriendlyResources main page</h1>
<div class="about-page">
  <p>It will hold links to all signed up resources</p>
</div>
<div class="navigate-resources">
  <p>Navigation links:</p>
  <ul>
    <li>Link to FriendlyResource1</li>
    <li>Link to FriendlyResource2</li>
  </ul>
</div>