<h1 class="title-page">A form for FriendlyResource signup</h1>
<div class="about-page">
  <p>The form holds necessary fields for creating new FriendlyResource</p>
</div>
<div class="signup-form-container">  
  <%= form_tag do %>
    Form contents
  <% end %>
</div>