<h1 class="title-page">
  This is main page for FriendlyResource <%= getFriendlyResourceName(@friendlyResource)%>
</h1>
<div class="about-page">
  <p>It will hold links to all CyberReports and edit details.</p>
</div>
<div class="navigate-resources">
  <p>Navigation links:</p>
  <ul>
    <li>Link to CyberReports</li>
    <li>Link to edit</li>
  </ul>
</div>