<h1 class="title-page">
  <%= page_title_for_friendly_resources_view("#{friendly_resource_name(@friendly_resource)} edit details") %>
</h1>
<div class="about-page">
  <p>The form will hold necessary fields for editing an existing FriendlyResource</p>
</div>
<div class="edit-form-container">
  <%= form_tag do %>
    Form contents
  <% end %>
</div>
<div class="navigate-resources">
  <%= link_to "Back to \"#{friendly_resource_name(@friendly_resource)}\"", friendly_resource_path(@friendly_resource) %>
</div>
