<div class="container">
  <div class="row">
    <h1 class="title-page"><%= page_title_for_welcome_view("Homepage") %></h1>
  </div>
  <div class="row about-page">
    <p>
      Observer is one of the three sub-systems that represent
      <span data-toogle="tooltip" data-placement="top" title="System for monitoring & launching cyber attacks and testing protection tools.">
        <em>Modular Platform for Researching Web Penetrations</em>.
      </span>
    </p>
    <p>
      Primary goal of Observer is to receive
      <span data-toogle="tooltip" data-placement="top" title="Bit packets that are sent by Field Agent to Observer.">
        <em>intelligence data</em>
      </span>
      concerning a 
      <span data-toogle="tooltip" data-placement="top" title="Web Application / Server that is monitored by Observer.">
        <em>friendly resource</em>
      </span>
      and interpret it into a 
      <span data-toogle="tooltip" data-placement="top" title="A set of specific calculations / observations that lead to an assessment of whether friendly resource is under online attack.">
        <em>cyber report</em>
      </span>
      . In other words; based on a collected data, Observer tries to answer the question - is 
      friendly resource under attack or not.
    </p>
    <p>The source code can be found at Github, 
      <a href="https://github.com/Z0neNp/Observer">https://github.com/Z0neNp/Observer</a>.
    </p>
  </div>
  <div class="row navigate-resources">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
      <button class="btn btn-warning">
        <%= link_to "Signup FriendlyResource", new_friendly_resource_path, :class => "nav-item nav-link" %>
      </button>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-warning">
        <%= link_to "Show FriendlyResources", friendly_resources_path, :class => "nav-item nav-link" %>
      </button>
    </div>
  </div>
</div>
