<div class="container">
  <div class="row">
    <h1 class="title-page">
      <%= page_title_for_cyber_reports_view(
        "FriendlyResource \"#{friendly_resource_name(@friendly_resource)}\" | #{cyber_report_type(@cyber_report)}") %>
    </h1>
  </div>
  <div class="row">
    <p>
      When
      <span data-toogle="tooltip" data-placement="top" title="i.e. actual amount of incoming requests to the server.">
        <em>actual_value</em>
      </span>
      is greater than
      <span data-toogle="tooltip" data-placement="top" title="Greatest value for actual_value that has been calculated with analysis algorithm.">
        <em>confidence_band_upper_value</em>
      </span>
      , there is an ongoing attack.</p>
  </div>
  <div class="row graphical-representation">
    <%= line_chart @cyber_reports_graph %>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 text-center">
      <%= will_paginate @cyber_reports_graph %>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
  <div class="row navigate-resources">
    <%= link_to "Back to CyberReports for #{friendly_resource_name(@friendly_resource)}",
      friendly_resource_cyber_reports_path(@friendly_resource) %>
  </div>
</div>
